footer {
  font-family: "roboto", sans-serif;
  width: 85%;
  margin: 0 auto;
  font-size: 1rem;
  padding: 1.8em 0;
  text-align: center;
  border-top: 1px solid #B3B3B3;
}

.footer-links {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em 0;
}

.footer-links p {
  font-weight: 600;
  width: 250px;
  padding: 1em 0;
}

.footer-links p:hover {
  color: #F3D880;
  cursor: pointer;
}

footer > p {
  font-family: sans-serif;
  font-weight: 300;
  font-size: .8rem;
}
