.grid-wrapper {
  width: 85%;
  margin: 80px auto;
}

.subheader-container {
  text-align: center;
  padding: 16px 0px;
  font-family: 'Roboto', sans-serif;
}

.subheader-container h2 {
  font-size: 2.375rem;
}

.about-container {
  display: flex;
}

.col {
  flex:1;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.col img {
  width: 100%
}

.col h3 {
  font-size: 1.5rem;
  margin: 16px 0px;
}

.col p {
  line-height: 1.6;
  font-weight: 300;
}

@media (max-width: 700px) {
  .about-container {
    flex-direction: column;
  }
  .col {
    text-align: center;
  }
}
