.product-page-wrapper {
  display:flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.product-page-container {
  display: flex;
  width: 80%;
}

.product-page-image-container {
  flex: 5;
  display: flex;
  justify-content: center;
}

.product-page-product-description-container {
  flex: 3;
  font-family: 'Roboto', sans-serif;
}

.product-page-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.product-page-price {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.product-page-description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
}

.add-to-cart-cta {
  display:flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

.add-to-cart-cta > select {
  padding: 20px 25px;
  border-radius: 10px;
}



/* .add-to-cart-cta a {
  line-height: 50px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: red;
  width: 100px;
} */
