a {
  text-decoration: none;
  color: inherit;
}

.cartitem {
  width: 60%;
  padding: 1rem;
  margin-bottom: 8px;
  display: flex;
  background: #fff;
  border-radius: 2px;
  margin: auto;
  align-items: center;
}

.cartitem__left {
  width: 70%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.cart-img-container {
  max-width: 40%;
}

.cart-img-container img{
  width: 100%;
}

.left__buttons {
  margin-left: 20px;
  margin-right: 20px;
}

.cartitem__name p {
  text-decoration: none;
  color: #cca869;
  transition: all 0.3s ease-out;
  border-bottom: solid 1px #fff;
  margin-bottom: 20px;
}

.cartitem__name > p:hover {
  border-bottom: solid 1px #cca869;
}

.cartitem__select {
  margin-left: 30px;
}

.cartitem__select select {
  padding: 10px 30px 10px 10px;
}

.cartitem__removebtn {
  background: #fff;
  color: #cca869;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-decoration: none;
  border-bottom: solid 1px #fff;
}

.cartitem__removebtn:hover {
  border-bottom: solid 1px #cca869;
}

.cartitem__right {
  width: 30%;
  display: flex;
  align-items: center;
}

.cartitem__price {
  margin: 0 20px;
}

@media (max-width: 700px) {
  .cartitem__name {
    font-size: 0.8rem;
  }
  .cartitem__select,
  .cartitem__removebtn{
    padding: 8px 13px;
  }
  .cartitem_price {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .cartitem__name {
    font-size: 0.6rem;
  }
  .cartitem__select,
  .cartitem__removebtn{
    padding: 5px 8px;
  }
  .cartitem_price {
    font-size: 0.6rem;
  }
}
